# Developers can copy this file as ".env" to override process.env with local settings

# Default 'development'. Can also be 'production', 'test'
NODE_ENV=development

# Default 'info' except 'none' when NODE_ENV is 'test'. Can be 'none', 'fatal', 'error', etc.
LOG_LEVEL=info

# Session cookie encryption secret
SESSION_SECRET=keyboard-cat

# API Server Port
PORT=3000

# API Server WebSocket Port for subscriptions (defaults to same value as PORT)
# WS_PORT=3000
